*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-main: #0a0a0a;          /* negro profundo */
  --bg-secondary: #111111;
  --gold: #f2c94c;            /* dorado moderno */
  --gold-soft: #ffe9a3;
  --red-wine: #8b1d2c;        /* rojo elegante */
  --white: #f5f5f5;
  --gray: #bdbdbd;
}

/* Ocultar scrollbar manteniendo funcionalidad */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}
